<h2>あしあとリスト</h2>
<div class="row panel panel-primary" id="footprints">
  <ul class="list-group">
    <% footprints.each do |owner_id, updated| %>
    <% owner = get_user(owner_id.to_i) %>
    <li class="list-group-item footprints-footprint"><%= Time.at(updated.to_i).strftime('%F %T') %>: <a href="/profile/<%= owner[:account_name] %>"><%= owner[:nick_name] %>さん</a>
    <% end %>
  </ul>
</div>
